In [ ]:
!pip install elang

Collecting elang
  Downloading elang-0.1.1-py3-none-any.whl (342 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 342 kB 5.1 MB/s
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from elang) (0.22.2.post1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from elang) (3.2.2)
Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (from elang) (3.6.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from elang) (4.62.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from elang) (4.6.3)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim->elang) (5.1.0)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim->elang) (1.15.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from gensim->elang) (1.19.5)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim->elang) (1.4.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->elang) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->elang) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->elang) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->elang) (2.8.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->elang) (1.0.1)
Installing collected packages: elang
Successfully installed elang-0.1.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#importing pandas package
import pandas as pd

In [ ]:
# Utility
import re
import numpy as np
import os
from collections import Counter
import logging
import time
import pickle
import itertools
import html
import string as str
from elang.plot.utils import plot2d, plotNeighbours

moderna

In [ ]:
df_moderna = pd.read_csv('/content/drive/MyDrive/Kominfo/data/new crawling/moderna100.csv')

In [ ]:
df_moderna.head()

   Unnamed: 0  ...                                              pesan
0           0  ...  Punya Kadar Antibodi 2 Kali Lebih Tinggi Dari ...
1           1  ...  Udah Vaksinasi belum?\nYuk vaksin, biar bisa s...
2           2  ...  Vaksin Pfizer tgl 3 Sept jam 11:00, abis maghr...
3           3  ...  Vaksin dosis pertama #Moderna bisa dapat antri...
4           4  ...  KIPI di awal2 pasca vaksin booster cuma pegal ...

[5 rows x 4 columns]

In [ ]:
# dropping ALL duplicate values
df_moderna.drop_duplicates(subset ="pesan",
                     keep = False, inplace = True)

In [ ]:
DATA_KBBI = [kamus.strip('\n').strip('\r') for kamus in open('/content/drive/MyDrive/Kominfo/kamus/slangword.txt')]

In [ ]:
def tweet_cleaner(tweet):

    #remove emoticon and emoji
    tweet = re.sub(r'<U?\+[a-fA-F0-9]\w+\>','', tweet)
    #remove escape caharacter
    tweet = html.unescape(tweet)
    #lower case
    tweet = tweet.lower()
    #remove url
    tweet = re.sub(r'https?:\/\/.*[\r\n]*','',tweet, flags=re.MULTILINE)
    #replace consecutive non-ASCII characters with a space
    tweet = re.sub(r'[^\x00-\x7F]+','', tweet).encode('ascii','ignore').decode("utf8")
    #special symbol (hashtag and mention) on tweet
    tweet = re.sub(r"#(\w+)", ' ',tweet, flags=re.MULTILINE)
    tweet = re.sub(r"@(\w+)", ' ',tweet, flags=re.MULTILINE)
    tweet = re.sub(r':','', tweet)
    tweet = re.sub(r'‚Äö√Ñ¬∂','', tweet)
    #remove whitespace and line break
    tweet = tweet.strip()
    tweet = re.sub(r'(?<!\.)\n', '', tweet)
    #remove punctuation
    tweet = "".join([char for char in tweet if char not in str.punctuation])
    tweet = re.sub('[0-9]+','', tweet)
    tweet = re.sub(r'\n','',tweet)
    tweet = re.sub(r'\r','',tweet)
    #remove double word
    tweet = re.sub(r'\b(\w+)( \1\b)+', r'\1', tweet)
    #split data
    tweet = re.split('\W+', tweet) 
    dic={}

    for i in DATA_KBBI: 
      (key,val)=i.split('\t')
      dic[key]=val

    # kbbi cocokan 
    tweet = ' '.join(dic.get(word, word) for word in tweet).split()
    
    return tweet

In [ ]:
%%time
df_moderna['pesan'] = df_moderna['pesan'].apply(lambda x: tweet_cleaner(x)).str.join(' ')

CPU times: user 464 ms, sys: 2.08 ms, total: 466 ms
Wall time: 467 ms

In [ ]:
df_moderna.head()

   Unnamed: 0  ...                                              pesan
0           0  ...  punya kadar antibodi kali lebih tinggi dari pf...
1           1  ...  sudah vaksinasi belumyuk vaksin biar bisa sali...
2           2  ...  vaksin pfizer tanggal sept jam habis maghrib m...
3           3  ...  vaksin dosis pertama bisa dapat antrian cantik...
4           4  ...  kipi di awal pasca vaksin booster cuma pegal d...

[5 rows x 4 columns]

In [ ]:
df_moderna.to_csv("/content/drive/MyDrive/Kominfo/data/new crawling/modernaclean.csv")

Sinovac

In [ ]:
df_sinovac = pd.read_csv('/content/drive/MyDrive/Kominfo/data/new crawling/newsinovac100.csv')

In [ ]:
df_sinovac.head()

   Unnamed: 0  ...                                              pesan
0           0  ...  Info vaksin dosis 1 sinovac dong daerah Cibitu...
1           1  ...  Kapolsek Kuta Polresta Denpasar Kompol Orpa SM...
2           2  ...          Fully vaxx na din sa wakas!!! ‚ù§üíâ #Sinovac
3           3  ...  Alhamdulillah I'm fully vaccinated thank you s...
4           4  ...  Vaksin Pfizer tgl 3 Sept jam 11:00, abis maghr...

[5 rows x 4 columns]

In [ ]:
# dropping ALL duplicate values
df_sinovac.drop_duplicates(subset ="pesan",
                     keep = False, inplace = True)

In [ ]:
%%time
df_sinovac['pesan'] = df_sinovac['pesan'].apply(lambda x: tweet_cleaner(x)).str.join(' ')

CPU times: user 530 ms, sys: 0 ns, total: 530 ms
Wall time: 532 ms

In [ ]:
df_sinovac.head(10)

   Unnamed: 0  ...                                              pesan
0           0  ...  info vaksin dosis sinovac dong daerah cibitung...
1           1  ...  kapolsek kuta polresta denpasar kompol orpa sa...
2           2  ...                        fully vaxx nya din sa wakas
3           3  ...  alhamdulillah im fully vaccinated thank you se...
4           4  ...  vaksin pfizer tanggal sept jam habis maghrib m...
5           5  ...  kapolsek kuta polresta denpasar kompol orpa sa...
6           6  ...        sept pmi jakut jalan plumpang semper jakart
7           7  ...  winter is coming tik tak tik tak that makes sense
8           8  ...  finally alhamdulilah setel deh tunggu hari pul...
9           9  ...  memasuki hari ketiga vaksinasi untuk para pela...

[10 rows x 4 columns]

In [ ]:
df_sinovac.to_csv("/content/drive/MyDrive/Kominfo/data/new crawling/sinovacclean.csv")

Pfizer

In [ ]:
df_pfizer = pd.read_csv('/content/drive/MyDrive/Kominfo/data/new crawling/pfizer100.csv')

In [ ]:
df_pfizer.head()

   Unnamed: 0  ...                                              pesan
0           0  ...  Punya Kadar Antibodi 2 Kali Lebih Tinggi Dari ...
1           1  ...  QBIG BSD City bekerja sama dengan Dinkes Kabup...
2           2  ...  Vaksin Pfizer tgl 3 Sept jam 11:00, abis maghr...
3           3  ...                               Vacinadah #Pfizer üíÖüèΩ
4           4  ...  Settle Cucuk Chip ..Next?\n#2nddosedoneüíâ‚úîÔ∏è\n#p...

[5 rows x 4 columns]

In [ ]:
# dropping ALL duplicate values
df_pfizer.drop_duplicates(subset ="pesan",
                     keep = False, inplace = True)

In [ ]:
%%time
df_pfizer['pesan'] = df_pfizer['pesan'].apply(lambda x: tweet_cleaner(x)).str.join(' ')

CPU times: user 523 ms, sys: 0 ns, total: 523 ms
Wall time: 527 ms

In [ ]:
df_pfizer.head(10)

   Unnamed: 0  ...                                              pesan
0           0  ...  punya kadar antibodi kali lebih tinggi dari pf...
1           1  ...  qbig bsd city bekerja sama dengan dinkes kabup...
2           2  ...  vaksin pfizer tanggal sept jam habis maghrib m...
3           3  ...                                          vacinadah
4           4  ...  settle cucuk chip next kpj ipoh specialist hos...
5           5  ...  vaksinasi pfizer bagi wargaberdomisili kab tgr...
6           6  ...                                  status imunizadah
7           7  ...                      teh passadahhhhh fora bozoooo
8           8  ...  winter is coming tik tak tik tak that makes sense
9           9  ...                                       vacinadaaaah

[10 rows x 4 columns]

In [ ]:
df_pfizer.to_csv("/content/drive/MyDrive/Kominfo/data/new crawling/pfizerclean.csv")

AstraZaneca

In [ ]:
df_az = pd.read_csv('/content/drive/MyDrive/Kominfo/data/new crawling/AZ100.csv')

In [ ]:
df_az.head()

   Unnamed: 0  ...                                              pesan
0           0  ...  Yolls dah vaccine ke? Bead vaccine ni viral ko...
1           1  ...  Thank you DBC/TSSI and Aventus! üòç #firstdose #...
2           2  ...  Staf kami sentiasa mementingkan aspek kebersih...
3           3  ...  Lengkap sudah ‚úåÔ∏è dua dosis vaksin Astra Zeneca...
4           4  ...  Lengkap sudah ‚úåÔ∏è dua dosis vaksin Astra Zeneca...

[5 rows x 4 columns]

In [ ]:
# dropping ALL duplicate values
df_az.drop_duplicates(subset ="pesan",
                     keep = False, inplace = True)

In [ ]:
%%time
df_az['pesan'] = df_az['pesan'].apply(lambda x: tweet_cleaner(x)).str.join(' ')

CPU times: user 619 ms, sys: 0 ns, total: 619 ms
Wall time: 627 ms

In [ ]:
df_az.head(10)

   Unnamed: 0  ...                                              pesan
0           0  ...  yolls deh vaccine ke bead vaccine nih viral ko...
1           1  ...         thank you dbctssi and aventus aventus filo
2           2  ...  staf kami sentiasa mementingkan aspek kebersih...
3           3  ...  lengkap sudah dua dosis vaksin astra zeneca di...
4           4  ...  lengkap sudah dua dosis vaksin astra zeneca di...
5           5  ...  vaksin pfizer tanggal sept jam habis maghrib m...
6           6  ...                                            selesai
7           7  ...  masih raguragu sama ada anda perlu ambil vaksi...
8           8  ...  tak mintak banyak cameron highland pun jadi la...
9           9  ...               makubaliano ya chanjo kati ya eu nya

[10 rows x 4 columns]

In [ ]:
df_az.to_csv("/content/drive/MyDrive/Kominfo/data/new crawling/azclean.csv")